/*-------------------- applies to every page-----------------*/
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: times, serif;
}
body {
	margin: 0;
	background: #EBE1FC;
	color: #000000;
	font-family: sans-serif;
	line-height: 1.5;
    background-image: linear-gradient(#EBE1FC, #FDFCFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}
.main-header {
    margin: auto;
    width: 100%;
    min-height: 90px;
    padding: 1em 2em;
    background: #998BB0;
    
}

h2, h1, p {
    text-align: center;
}

.img1 {
    width: 100%;
    
}
/* ---------------------footer------------------------------*/

footer {
    height: 100px;
    border-top: 2px solid black;
    text-decoration: none;
    background-color: #998BB0;
}

.firstcol {
    float: left;
    padding: 10px;
    width: 33%;
    display: inline;
}

.secondcol {
    padding: 10px;
    width: 33%;
    position: absolute;
    left: 483px;
}

.thirdcol {
    float: right;
    padding: 25px;
    width: 33%;
}

.firstcol a {
    text-decoration: none;
    color: black;
}

.secondcol a {
    text-decoration: none;
    color: black;
}

.firstcol a:hover {
    color: #FDFCFF;
}

.secondcol a:hover {
    color: #FDFCFF;
}

/*--------------------------- Nav Styles -------------------- */

.main-nav,
.drop-nav {
  background: #FCFBE1;
}
.main-nav {
  float: right;
  border-radius: 4px;
  margin-top: 8px;
  border: solid 1px #000000;
}
  .main-nav > li {
    float: left;
    border-left: solid 1px #000000;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #000000;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }
.logo {
    width: 100px;
    z-index: 5;
}

/* ---------------------Dropdown styles -------------------- */

.dropdown{
    position: relative;
}

.dropdown:after {
    content: "\25BC";
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}

.drop-nav{
    position: absolute;
    display: none;
}

.drop-nav li {
    border-bottom: 1px solid #000000;
}
header a:hover { 
  background-color: #FDFCFF;
}
.dropdown:hover > .drop-nav{
    display: block;
}
 
/* -------------------The side navigation menu ------------ */

.sidebar a {
    display: flex;
    align-content: center;
    padding: 5px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: right;}
  div.content {margin-right: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.icon {
    height: 50px;
    width: 50px;
 }


.sidebar {
    position: fixed;
    top: 25%;
    height: 450px;
    bottom: 0%;
    left: -190px;
    transition: all 0.15s ease-out 0s;
    width: 8rem;
    background: #FBFCE1; 
    border-radius: 0px 10px 10px 0px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.sidebar li a {
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
    line-height: 200%;
}


#slide:checked + .container .sidebar {
    left: 0px;
 }

#slide:checked + .container .toggle {
    left: 150px;
 }


#slide {
    display: none; 
}

.toggle {
    text-decoration: none;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.61);
    transition: all 0.45s ease-out 0s;
    position: fixed;
    top: 30%;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}
/* ---------------------index(home) page -------------------------*/

.backdrop {
    background-color: #998BB0;
    width: 80%;
    border-radius: 25px;
    padding: 10px;
}
.row, .row2{
    width:auto;
    display:flex;
    justify-content: space-around;
}
.col1 {
    width: 30%;
    margin-top: 30px;
    margin-left: 17.5%;
    padding: 20px;
    float: left;
    background-color: #998BB0;
    border-radius: 25px;
    margin-bottom: 50px;
}


.col2 {
    width: 30%;
    margin-top: 30px;
    margin-right: 17.5%;
    padding: 20px;
    float: right;
    background-color: #998BB0;
    border-radius: 25px;
    margin-bottom: 50px;
}

.col3 {
    width: 30%;
    margin-top: 20px;
    margin-left: 17.5%;
    padding: 20px;
    float: left;
    background-color: #998BB0;
    border-radius: 25px;
    margin-bottom: 50px;
}

.col4 {
    width: 30%;
    margin-top: 20px;
    margin-right: 17.5%;
    padding: 20px;
    float: right;
    background-color: #998BB0;
    border-radius: 25px;
    margin-bottom: 50px;
}

.home, .home2 {
    text-align: justify;
}

.homeno {
    text-align: left;
}
/*------------------about us page------------------*/

.aboutuspara{
    margin-left:15%;
    margin-right:15%;
    padding: 10px;
}

.rightimg {
    float:right;
    width: 25%;
    border-radius: 25px;
}

.leftimg {
    float: left;
    width: 25%;
    border-radius: 25px;
}

.workerpicleft {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.workerpicright {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.lefttext {
    text-align: left;
    padding-left: 26%;
    margin-top: 2%;
}

.righttext {
    text-align: right;
    padding-right: 26%;
    margin-top: 2%;
}

/*------------------social medias page------------------*/

.block {
    position: relative;
    padding: 300px; 
}

.backdrop2 {
    background-color: #998BB0;
    height: 490px;
    width: 900px;
    position: absolute;
    top: 40px;
    left: 20%;
    border-radius: 10px;
    padding: 10px;
}
/* --------------grid style in social medias page--------------------*/

.smicon {
    height: 100px;
    width: 100px;
}

.smiconslack {
    height: 150px;
    width: 150px;
}

.smiconyouin {
    height: 120px;
    width: 120px;
}

.arrow {
    height: 100px;
    width: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr repeat 160px(4) 1fr;
    grid-template-rows: 160px 160px 160px; 
    column-gap: 10px;
    grid-row-gap: 15px;
}
.grid-item0 {
    grid-area: 1 / 1 / 1 / 2;
}

.grid-item1 {
    grid-area: 1 / 2 / 1 /3;
}

.grid-item2 {
    grid-area: 1 / 3 / 1 / 4;
}

.grid-item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item5 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.grid-item6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-item7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
.grid-item8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-item9 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-item10 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.grid-item11 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.grid-item12 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-item13 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
} 
.grid-item14 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-item15 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}

.grid {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


.ophover:hover .grid {
  opacity: 0.3;
}

/*---------------- Tumblr(+othersocialmedias) page--------------------*/
.Tumblrpage{
    margin-left: 11%;
    margin-right: 11%;
}

h3 {
    text-align: center;
}

.introicon {
    width:  200px;
    height: 200px;
    float: left;
    shape-outside:circle(50%)
}

.paradivs {
    margin-top: 40px;
    margin-bottom: 40px;
}
video {
    position: relative;
    left: 30%;   
}

.pictumblr2 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.pictumblr {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.containertumblr {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.smallercontainer {
    width: 45%;
    margin: 10px;
}

.smallercontainermiddle {
    width: 100%;
    margin: 10px;
}

.howtousepics {
    width: 80%;
    padding-left: 20%;
}

.warningpic {
    width: 20%;
    float: left;
}

.h3header{
    margin: 5px;
}

.nosign {
    width: 10%;
    float:left;
    border-radius: 50%;
}

.tumblrlink {
    color: black;

}

.tumblrlink:hover {
    color: #998BB0;
}

/*------------------- Contact page----------------------*/

.contactinfo {
    margin-left:20%;
    margin-right:20%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.faqlink {
    color: red;
    font-size: 28pt;
    margin-left: 45%;
}

.faqlink:hover {
    color: black;
}

/* ----------------------Form styles ----------------------*/

.formweb, .results{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #998BB0;
    border-radius: 25px;
    margin-bottom: 5%;
}
.formweb h1{
	background: #EBE1FC;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #000;
	margin: 10px 16px 20px 60px;
    border-radius: 25px;
    width: 70%;
    box-shadow: 0 0 5px #D9C4FF;
}
.formweb input[type="text"],
.formweb input[type="email"],
.formweb input[type="tel"],
.formweb textarea,
.formweb select 
{

	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.formweb input[type="text"]:focus,
.formweb input[type="email"]:focus,
.formweb input[type="tel"]:focus,
.formweb textarea:focus,
.formweb select:focus
{
	box-shadow: 0 0 5px #B39B39;
	padding: 3%;
	border: 1px solid #B39B39;
}

.formweb button[type="submit"],
.formweb button[type="reset"] {
	box-sizing: border-box;
	width: 49%;
	padding: 3%;
	background: #EBE1FC;
	color: #000;
    border-radius: 25px;
}

.formweb input[type="submit"]:hover,
.formweb input[type="button"]:hover{
	background: #998BB0;
}

.required{
	color:red;
}

fieldset{
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #000000; 
	padding: 20px;
	background: #FCFBE1;
}
fieldset legend{
	color: #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-radius: 5px 5px 0px 0px;
	background: #FCFBE1;
	padding: 0px 8px 3px 8px;
	font-weight: normal;
	font-size: 12px;
}

/*------------------- FAQ page----------------------*/

.containerfaq {
    width: 70%;
    background-color:#998BB0;
    padding: 2%;
    border-radius: 25px;
    margin-bottom: 3%;
}

.textfaq {
    padding-bottom: 1%;
}
/*------------------- The results page----------------------*/
.results {
    color: #000;
}

.results p {
    margin: 20px 0;
}

#userdata {
    color: #fff;
}

.results a {
    color: #000000;
}

.results a:hover {
    color:#EBE1FC ;
}
/*------------------- The sitemap page----------------------*/

#content {
    margin: 100px 25%;
    padding: 10px;
    background-color:#998BB0;
    border-radius: 25px;
}

#sitemap {
    font-family: courier, monospace;
}

#sitemap a {
    color: black;
}

#sitemap a:hover {
    color: #FDFCFF;
}

ul {
    list-style-type: none;
}

ul{
  margin-left:15px;
}

ul ul{
  margin-left:20px;
}

ul ul ul{
  margin-left:25px;
}

/*------------------Resource page --------------------*/

#references {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 20px;
    margin-top: 10px;
}

#references td, #references th {
    border: 1px solid #ddd;
    padding: 8px;
}

#references tr:nth-child(even){
    background-color: #FCFBE1;
}

#references tr:nth-child(odd){
    background-color: #EBE1FC;
}

#references tr:hover {
    background-color: #FDFCFF;
}

#references th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #998BB0;
    color: white;
}

.tablelink {
    color: black;

}

.tablelink:hover {
    color: #998BB0;
}